.git
.gitignore
.env
.env.example
Dockerfile
docker-compose.yml
node_modules
vendor
storage/logs/*
storage/framework/sessions/*
storage/framework/cache/data/*
storage/framework/testing/*
storage/debugbar/*
.idea
.vscode